/* ------------------------------------------------------------------------------------------

NAME - Vestiaire
AUTH - LARS BORTFELDT
MAIL - contact@larsattacks.co.uk
DATE - 14.07.2015

---------------------------------------------------------------------------------------------

DOC STRUCTURE
-
01 - BASE
     - Defaults

02 - LAYOUT
     - Main Sections
     - Typography
     - User Interface: Icons
     - User Interface: Buttons
     - User Interface: Colour
     - User Interface: Helpers
     - User Interface: Form Elements

03 - MODULES

04 - THEME & RESPONSIVE

------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------

01.BASE
------------------------------------------------------------------------------------------ */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    }

html {
    font-size: 62.5%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

/* Defaults ------------------------------------------------------------------------------- */

a, 
ul,
ol { position: relative; }

ul, 
ol { list-style: none; }

a { text-decoration: none; }

p { margin-bottom: 20px; }




/* ------------------------------------------------------------------------------------------

02. LAYOUT

    Sections:

        - Main Sections
        - Typography
        - User Interface: Icons
        - User Interface: Buttons
        - User Interface: Colour
        - User Interface: Helpers
        - User Interface: Form Elements

------------------------------------------------------------------------------------------- */

/* Main Sections -------------------------------------------------------------------------- */

header {
    background: black;
    overflow: hidden;
}

main {

}

section { 
    border-bottom: 12px solid #000;
    text-align: center;
    padding: 13px 13px 45px;
}

footer {
    color: white;
    background: #3a3a3a;
}

/* Typography ---------------------------------------------------------------------------- 

    Font-families:

    1. "Caslon"    - ITC Caslon 224 W01 Book
                   - 600 normal / italic

    2. "Brandon"   - Brandon Grotesque
                   - normal
                   - 600 normal (reg)
                   - 700 normal
                   - 800 normal

    3. "MinionPro" - Minion Pro
                   - 600 normal (reg) / italic
                   - 700 italic
                   - 800 italic

------------------------------------------------------------------------------------------- */

/* --------- "Caslon" --------- */

@font-face {
    font-family: 'Caslon';
    src: url('../assets/fonts/itc-caslon/itc-caslon.eot');
    src: url('../assets/fonts/itc-caslon/itc-caslon.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/itc-caslon/itc-caslon.woff') format('woff'),
         url('../assets/fonts/itc-caslon/itc-caslon.ttf') format('truetype'),
         url('../assets/fonts/itc-caslon/itc-caslon.svg#3793dd7a0c72f941c84c5e828bb7be3c') format('svg');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Caslon';
    src: url('../assets/fonts/itc-caslon/itc-caslon-it.eot');
    src: url('../assets/fonts/itc-caslon/itc-caslon-it.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/itc-caslon/itc-caslon-it.woff') format('woff'),
         url('../assets/fonts/itc-caslon/itc-caslon-it.ttf') format('truetype'),
         url('../assets/fonts/itc-caslon/itc-caslon-it.svg#3793dd7a0c72f941c84c5e828bb7be3c') format('svg');
    font-style: italic;
    font-weight: 600;
}

/* --------- "Brandon" --------- */

@font-face {
    font-family: 'Brandon';
    src: url('../assets/fonts/brandon/brandon_reg.eot');
    src: url('../assets/fonts/brandon/brandon_reg.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/brandon/brandon_reg.woff') format('woff'),
         url('../assets/fonts/brandon/brandon_reg.ttf') format('truetype'),
         url('../assets/fonts/brandon/brandon_reg.svg#3793dd7a0c72f941c84c5e828bb7be3c') format('svg');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Brandon';
    src: url('../assets/fonts/brandon/brandon_med.eot');
    src: url('../assets/fonts/brandon/brandon_med.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/brandon/brandon_med.woff') format('woff'),
         url('../assets/fonts/brandon/brandon_med.ttf') format('truetype'),
         url('../assets/fonts/brandon/brandon_med.svg#3793dd7a0c72f941c84c5e828bb7be3c') format('svg');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Brandon';
    src: url('../assets/fonts/brandon/brandon_bld.eot');
    src: url('../assets/fonts/brandon/brandon_bld.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/brandon/brandon_bld.woff') format('woff'),
         url('../assets/fonts/brandon/brandon_bld.ttf') format('truetype'),
         url('../assets/fonts/brandon/brandon_bld.svg#3793dd7a0c72f941c84c5e828bb7be3c') format('svg');
    font-style: normal;
    font-weight: 800;
}

/* --------- "MinionPro" --------- */

@font-face {
    font-family: 'MinionPro';
    src: url('../assets/fonts/minionpro/MinionPro-Regular.eot');
    src: url('../assets/fonts/minionpro/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/minionpro/MinionPro-Regular.woff') format('woff'),
         url('../assets/fonts/minionpro/MinionPro-Regular.ttf') format('truetype'),
         url('../assets/fonts/minionpro/MinionPro-Regular.svg#3793dd7a0c72f941c84c5e828bb7be3c') format('svg');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'MinionPro';
    src: url('../assets/fonts/minionpro/MinionPro-Regular.eot');
    src: url('../assets/fonts/minionpro/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/minionpro/MinionPro-Regular.woff') format('woff'),
         url('../assets/fonts/minionpro/MinionPro-Regular.ttf') format('truetype'),
         url('../assets/fonts/minionpro/MinionPro-Regular.svg#3793dd7a0c72f941c84c5e828bb7be3c') format('svg');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'MinionPro';
    src: url('../assets/fonts/minionpro/MinionPro-It.eot');
    src: url('../assets/fonts/minionpro/MinionPro-It.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/minionpro/MinionPro-It.woff') format('woff'),
         url('../assets/fonts/minionpro/MinionPro-It.ttf') format('truetype'),
         url('../assets/fonts/minionpro/MinionPro-It.svg#3793dd7a0c72f941c84c5e828bb7be3c') format('svg');
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: 'MinionPro';
    src: url('../assets/fonts/minionpro/MinionPro-MediumIt.eot');
    src: url('../assets/fonts/minionpro/MinionPro-MediumIt.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/minionpro/MinionPro-MediumIt.woff') format('woff'),
         url('../assets/fonts/minionpro/MinionPro-MediumIt.ttf') format('truetype'),
         url('../assets/fonts/minionpro/MinionPro-MediumIt.svg#3793dd7a0c72f941c84c5e828bb7be3c') format('svg');
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'MinionPro';
    src: url('../assets/fonts/minionpro/MinionPro-BoldIt.eot');
    src: url('../assets/fonts/minionpro/MinionPro-BoldIt.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/minionpro/MinionPro-BoldIt.woff') format('woff'),
         url('../assets/fonts/minionpro/MinionPro-BoldIt.ttf') format('truetype'),
         url('../assets/fonts/minionpro/MinionPro-BoldIt.svg#3793dd7a0c72f941c84c5e828bb7be3c') format('svg');
    font-style: italic;
    font-weight: 800;
}

body {
    -webkit-font-smoothing: antialiased;
    font-size: 1.5rem; /* Base font 15pt */
    line-height: 2.5rem;
    font-family: 'MinionPro';
    font-style: italic;
}

.font-caslon    { font-family: "Caslon"; }
.font-brandon   { font-family: "Brandon"; }
.font-minion    { font-family: "MinionPro"; }
.font-helvetica { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

h1, .h1 { color: transparent; }
h2, .h2 { font-family: "Caslon";    font-style: italic; font-size: 2.4rem; line-height: 3.4rem; }
h3, .h3 { font-family: "Brandon";   font-style: normal; font-size: 2.3rem; line-height: 1.7rem; font-weight: 800; text-transform: uppercase; }
h4, .h4 { font-family: "MinionPro"; font-style: italic; font-size: 2rem;   line-height: 3.2rem; }
h5, .h5 { font-family: "Brandon";   font-style: normal; font-size: 1.8rem; line-height: 3.0rem; font-weight: 800; text-transform: uppercase; }
h6, .h6 { }

.btn { font-family: "Brandon"; font-style: normal; font-size: 1.28rem; line-height: 2.2rem; font-weight: 800; }

.tracking_normal { letter-spacing: 0em; }
.tracking_tiny   { letter-spacing: 0.05em; }
.tracking_extend { letter-spacing: 0.08em; }

.normalize-case  { text-transform: initial; } 
.uppercase-case  { text-transform: uppercase; }
.normalize-style { font-style: normal; }

h1 span,
h2 span,
h3 span,
h4 span { font-family: "Brandon"; font-style: normal; font-weight: 800; text-transform: uppercase; }

/* User Interface: Icons ----------------------------------------------------------------- */

i {
    background-color: transparent;
    background-repeat: no-repeat no-repeat;
    background-image: url('../assets/svg/ui-elements.svg');
    display: inline-block;
}

html.no-svg i {
    background-image: url('../assets/svg/ui-elements-fallback.png');
}

i.vogue               { width: 79px; height: 19px;   background-position: -130px -5px; }
i.arrow-gallery-left  { width: 15px;  height: 50px;  background-position: -5px   -5px; }
i.arrow-gallery-right { width: 15px;  height: 50px;  background-position: -24px  -5px; }
i.arrow-button-bold   { width: 7px;   height: 14px;  background-position: -42px  -5px; }
i.arrow-button-thin   { width: 7px;   height: 10px;  background-position: -61px  -6px; }
i.form-checked        { width: 12px;  height: 10px;  background-position: -78px  -5px; }
i.form-checked-lrg    { width: 17px;  height: 14px;  background-position: -76px  -22px; }
i.circle-filled       { width: 9px;   height: 9px;   background-position: -96px  -5px; }
i.circle              { width: 9px;   height: 9px;   background-position: -115px -5px; }
i.divider             { width: 247px; height: 1px;   background-position: -5px   -61px; }
i.diagonal            { width: 121px; height: 193px; background-position: -197px -66px; }
i.logo-vestiaire      { width: 213px; height: 71px;  background-position: -2px   -285px; }
i.logo-vestiaire-lrg  { width: 308px; height: 102px; background-position: 0px    -370px; }
i.logo-vestiaire-sqr  { width: 118px; height: 118px; background-position: -4px   -158px; }
i.icon-facebook       { width: 23px;  height: 23px;  background-position: -5px   -129px; }
i.icon-twitter        { width: 23px;  height: 23px;  background-position: -39px  -129px; }
i.icon-instagram      { width: 23px;  height: 23px;  background-position: -72px  -129px; }
i.icon-googleplus     { width: 23px;  height: 23px;  background-position: -104px -129px; }
i.icon-pinterest      { width: 23px;  height: 23px;  background-position: -137px -129px; }
i.icon-share          { width: 70px;  height: 63px;  background-position: -5px -62px; }

/* User Interface: Buttons --------------------------------------------------------------- */

.btn { text-transform: uppercase; padding: 13px; display: block; background-color: #bf9f56; color: white; cursor: pointer;
    -webkit-transition: background .3s;
       -moz-transition: background .3s;
         -o-transition: background .3s;
            transition: background .3s;
}
.btn i { 
    -webkit-transition: left .3s;
       -moz-transition: left .3s;
         -o-transition: left .3s;
            transition: left .3s;
}

.btn:hover { background-color: #9a824b; }
.btn:hover i { left: 10px; }

.btn--app-store { background: url('../images/btn-app-store.png') no-repeat center center; }
.btn--google-play { background: url('../images/btn-google-play.png') no-repeat center center; }

.btn--app-store,
.btn--google-play { overflow: hidden; background-size: 100%; width: 110px; }

.btn-tight { font-size: 1.1rem; padding: 13px 0px; }
.btn-tight i { left: 7px; }

.btn-gallery { }
.btn-gallery-prev { }
.btn-gallery-next { }

.btn-unhover:hover { background-color: initial; }

.arrow-button-bold { position: relative; left: 25px; top: 2px; }


/* User Interface: Colour ----------------------------------------------------------------

    Colour Reference:

    base:      #bf9f56             # brown
    form-bg:   #d1d1d1             # light-grey
    font-base: black;              # 100% black
    font-sub:  rgba(0, 0, 0, 0.6); # 60% black -> #6f6f6f
    footer:    rgba(0, 0, 0, 0.8); # 80% black -> #3a3a3a

*/

.bg-primary { background: #bf9f56; } /* base-brown */

.black { color: black; }

/* User Interface: Helpers --------------------------------------------------------------- */

strong { color: #000; }

figure { display: block; padding: 0; margin: 0; }
figure img { width: 100%; }

.hidden { display: none; }

.v-center { display: table; }
.v-centre-inner { display: table-cell; vertical-align: middle; }

.with-sub-line { }
.with-sub-line:after { border-bottom: 1px solid #444; content: ""; height: 1px; display: block; width: 70%; text-align: center; margin: 0 auto; }

.para-main { }
.para-sub { color: #6f6f6f; }

.borderless  { border: none; }
.paddingless { padding: 0px; }

.disable-selection::selection      { background: transparent; }
.disable-selection::-moz-selection { background: transparent; }

.third-height  { height: 0; overflow: hidden; padding-bottom: 33%; }
.half-height   { height: 0; overflow: hidden; padding-bottom: 50%; }
.sixty-height  { height: 0; overflow: hidden; padding-bottom: 60%; }
.full-height   { height: 0; overflow: hidden; padding-bottom: 100%; }

.text-indent { text-indent: -777777px; }
.text-underline { text-decoration: underline; }

.inherit-colour { color: inherit; }

.img-responsive { width: 100%; }

.adjustable-order { display: table; }
.adjustable-order-header { display: table-header-group; }
.adjustable-order-footer { display: table-footer-group; }

.cfix:before,
.cfix:after { display: table; content: ""; }
.cfix:after { clear: both; }
.cfix { zoom: 1; }

/* Form elements --------------------------------------------------------------- */

.form-row { margin-bottom: 10px; clear: both; }
.submit-row { margin-top: 50px; }

input { background: #d1d1d1; padding: 16px 10px; font-size: 1rem; line-height: 2rem; width: 100%; font-weight: 800; font-style: normal; margin: 0px; border: 0px; color: white; margin-top: 6px; }
label { cursor: pointer; position: relative; color: #6f6f6f; font-size: 1.3rem; line-height: 2.3rem; }

input[type=checkbox] { float: left; width: 30px; height: 30px; display: block; overflow: hidden; background-color: #D1D1D1; -webkit-appearance: none; -moz-appearance: none; }
input[type=checkbox] + span { display: none; }
input[type=checkbox]:checked { background: white; }
input[type=checkbox]:checked + span { display: block; position: absolute; left: 5px; width: 20px; height: 20px; top: 12px; }

.checkbox-label { display: block; text-align: left; margin-left: 40px; }

::-webkit-input-placeholder { color: white; font-size: 1rem; font-weight: 800; text-transform: uppercase; }
     :-ms-input-placeholder { color: white; font-size: 1rem; font-weight: 800; text-transform: uppercase; }
          :-moz-placeholder { color: white; font-size: 1rem; font-weight: 800; text-transform: uppercase; }
         ::-moz-placeholder { color: white; font-size: 1rem; font-weight: 800; text-transform: uppercase; }






/* ------------------------------------------------------------------------------------------

03. Modules

------------------------------------------------------------------------------------------ */

h1 { color: transparent; position: relative; margin: 15px auto; }
h1 i { position: absolute; left: 0px; }

/* Gift-card teaser */
.container-intro-win { padding: 12px; position: relative; }
.container-intro-win-p { color: white; font-size: 1.7rem; line-height: 1.9rem; margin: 0px; }
.container-intro-win-p span { font-style: initial; }
.container-intro-win-enter { background-color: inherit; text-align: center; font-size: 0.9rem; padding: 0px; font-weight: 800; height: 13px; }
.container-intro-win-enter i { position: relative; top: 1px; left: 6px; }
.container-intro-vestaire { background: url('../images/intro-mob.jpg') no-repeat 0 0 transparent; width: 100%; height: 170px; background-size: 100%; }
.container-intro-vestaire-logo { margin: auto; }

/* Features intro */
.features-container { padding-bottom: 20px; }
.features-container h2 { font-size: 3rem; line-height: 3.6rem; }

/* Actual feature */
.features { position: relative; }
.features-shop-headline { margin-top: 4px; line-height: 3.6em; }
.features-figure h3 { font-size: 2.3rem; }
.features-figure-img--center { margin-top: -16%; }
.features-caption { display: none; }
.features-article-selected { margin-bottom: 30px; }
.features-article-para-sub { color: #6f6f6f; font-size: 1.4rem; line-height: 2.6rem; }
.features-article-intro-headline { font-size: 3rem; line-height: 4rem; margin-top: 20px; }

/* Temp video placeholder */
.image-video-holder { border: 0; width: 100%; margin-top: 30px; }
.image-video-holder img { width: 100%; }

/* Iphone image, store push */
.section-style-cover { margin: 10px 10px 30px; }

/* Slider Styling */
.slider-wrap { position: relative; }
.slider { padding: 0px; }
.slider-navigation { position: absolute; width: 100%; left: 0px; top: 50%; z-index: 100; }
.slider-navigation-btn-prev { position: absolute; left:  -6%; }
.slider-navigation-btn-next { position: absolute; right: -6%; }
.slider.owl-theme .owl-dots .owl-dot.active span { background: black; }
.slider.owl-theme .owl-dots .owl-dot span { background: white; border: 1px solid black; }
.slider.owl-theme .owl-dots .owl-dot:hover span { background: black; border: 1px solid black; }
.slider.owl-theme .owl-item { background-color: white; }
/* */
.section-collective-explained { }
.section-collective-explained-wrap { }
.section-collective-explained-p { font-size: 1.9rem; line-height: 2.62rem; margin: 30px auto 50px auto; }
.section-collective-explained-figure { margin-top: 15px; margin-bottom: 15px; position: relative; }
.section-collective-explained-para-sub { font-size: 1.4rem; line-height: 2.6rem; padding: 0 20px; }
.section-collective-explained h3 { font-size: 2.4rem; line-height: 4.5rem; margin: 0px; }

/* */
.section-style { position: relative; }
.section-style-p { font-size: 1.9rem; line-height: 2.62rem; margin: 25px auto; padding: 0px 20px; }
.section-style i { margin: 9% auto; }

/* */
.section-competition { padding-bottom: 5px; }
.section-competition-subline { font-size: 2.4rem; line-height: 3.3rem; margin-top: 5px;  }
.section-competition-cta { margin-bottom: 10px; }
.section-competition-cta span { display: block; }
.section-competition p { font-size: 1.9rem; line-height: 2.9rem; }

/* */
.social-connect { overflow: hidden; margin: 15px auto; display: inline-block; }
.social-connect-link { float: left; margin-right: 10px; }
.social-connect-link-last { margin-right: 0px; }

/* */
footer { text-align: center; padding-top: 15px; }
.footer-link { color: white; }






/* ------------------------------------------------------------------------------------------

04. Theme & Responsive
------------------------------------------------------------------------------------------ */

article header { background-color: transparent; }

/* Additional 1600px Grid Stage */

@media screen and (min-width: 1600px) {
    .container { width: 1570px; }
}

@media only screen and (max-width : 992px) {

    .mobile-no-pad { padding-left: 0; padding-right: 0; }
    .mobile-row { margin-left: -15px; margin-right: -15px; }

    /* Mobile add padding to headlines to center them nicer ( according to design ) */
    h2 { padding-left: 30px; padding-right: 30px; margin-bottom: 5px; }
    h3 { padding-left: 30px; padding-right: 30px; margin-bottom: 5px; }

    /* those had been set to be a table group for re-ordering */
    .section-collective-explained-figure,
    .section-collective-explained h3 { display: block; }

    .section-style { padding-bottom: 80px; }
    .section-style-copy { position: initial; }
    .section-style-getapp { position: absolute; bottom: 0px; width: 100%; left: 0px; margin-bottom: 35px; }
}

@media only screen and (min-width : 992px) {

    .btn { display: inline-block; font-size: 1.4rem; padding: 20px 70px; }
    .slider-navigation-btn { display: inline-block; padding: 30px 20px; }

    h2 { font-size: 4.5rem; line-height: 6.5rem; }
    h3 { font-size: 4.5rem; line-height: 6.5rem; }

    .container-intro-win-enter { position: absolute; right: 20px; top: 13px; font-size: 1.1rem; padding: 0px; height: 22px; width: 110px; }
    .container-intro-win-p { font-size: 2.2rem; line-height: 2.6rem; }
    .container-intro-vestaire { background-image: url('../images/intro.jpg'); background-size: cover; height: 250px; }

    .para-main { font-size: 2.6rem; line-height: 3.6rem; width: 85%; }
    .para-sub { font-size: 1.6rem; line-height: 3rem; }

    .features-container { }
    .features-container h2 { font-size: 5.5rem; margin-top: 135px; margin-bottom: 55px; }

    .features-article header { width: 35%; }
    .features-article:nth-of-type(2) header { position: absolute; top: 0px; left: 35%; }
    .features-article:nth-of-type(3) header { position: absolute; top: 0px; right: -1%; }
    .features-article-intro-headline { font-size: 5.5rem; line-height: 6.5rem; padding-top: 45px; }
    .features-article-discover { margin: 90px auto 70px auto; }
    .features-header { padding: 20px;  }
    .features-caption { display: block; }
    .features-caption h3 { line-height: 3rem; padding-left: 0px; padding-right: 0px; }
    .features-article-selected { margin-bottom: 90px; }
    .features-article-selected header { border: 1px solid #C1BFBF; }
    .features-article-selected .features-article-intro-headline { padding-top: 30px; }
    .features-slider { margin-bottom: 90px; }
    .features-shop-headline { font-size: 2.6rem; line-height: 3.6rem; }

    .with-sub-line:after { width: 33%; margin-top: 20px; }

    .sixty-height { height: auto; padding-bottom: 0px; }
    .features-figure-img--center { margin: 0px; }

    .section-collective-explained h3 { font-size: 4.5rem; line-height: 6.5rem; }
    .section-collective-explained h3 span { position: absolute; top: 20px; left: 105px; }
    .section-collective-explained-img { margin-top: -40px; z-index: -1; position: relative; width: 90%; }
    .section-collective-explained-figure { padding-right: 20px; }
    .section-collective-explained-para-sub { margin-top: 30px; }

    .btn--app-store,
    .btn--google-play { width: 150px; margin-top: 30px; }

    .section-style-cover-pull { bottom: -84px; z-index: -1; position: relative; margin-top: -50px; }

    .section-competition { background: url('../images/form-bg.jpg') no-repeat right 50%; background-size: 68%; }
    .section-competition-subline { font-size: 4.5rem; line-height: 6.5rem; }
    .section-competition-cta { font-size: 2.6rem; line-height: 3.6rem; margin-bottom: 20px; }
    .section-competition-p { font-size: 2.4rem; line-height: 3rem; margin-bottom: 58px; }

    footer { margin-top: 50px; }
}