/* ------------------------------------------------------------------------------------------

NAME - Vestiaire
AUTH - LARS BORTFELDT
DATE - 09.07.2015

---------------------------------------------------------------------------------------------

DOC STRUCTURE
-
01 - Defaults
02 - Typography
	 Typekit class events
	 Headings
04 - Grid Structure
05 - Header

------------------------------------------------------------------------------------------ */


body {
    
   
}


div {
     /* TEMP */
    float: left; 
    background-color: rgb(191,159,86);
    text-align: center;
    padding: 13px;
}

/* ------------------------------------------------------------------------------------------

01.User Interface
------------------------------------------------------------------------------------------ */

i {
    background-color: transparent;
    background-repeat: no-repeat no-repeat;
    background-image: url('../assets/svg/ui-elements.svg');
    display: inline-block;
}

html.no-svg i {
    background-image: url('../assets/svg/ui-elements-fallback.png');
}

i.arrow-gallery-left  { width: 15px;  height: 50px;  background-position: -5px   -5px; }
i.arrow-gallery-right { width: 15px;  height: 50px;  background-position: -24px  -5px; }
i.arrow-button-bold   { width: 7px;   height: 14px;  background-position: -42px  -5px; }
i.arrow-button-thin   { width: 7px;   height: 10px;  background-position: -61px  -6px; }
i.form-checked        { width: 12px;  height: 10px;  background-position: -78px  -5px; }
i.circle-filled       { width: 9px;   height: 9px;   background-position: -96px  -5px; }
i.circle              { width: 9px;   height: 9px;   background-position: -115px -5px; }
i.divider             { width: 247px; height: 1px;   background-position: -5px   -61px; }
i.diagonal            { width: 62px;  height: 137px; background-position: -220px -67px; }
i.logo-vestiaire      { width: 216px; height: 57px;  background-position: -3px   -65px; }
i.logo-vestiaire-sqr  { width: 118px; height: 118px; background-position: -4px   -158px; }
i.icon-facebook       { width: 23px;  height: 23px;  background-position: -5px   -129px; }
i.icon-twitter        { width: 23px;  height: 23px;  background-position: -39px  -129px; }
i.icon-instagram      { width: 23px;  height: 23px;  background-position: -72px  -129px; }
i.icon-googleplus     { width: 23px;  height: 23px;  background-position: -104px -129px; }
i.icon-pinterest      { width: 23px;  height: 23px;  background-position: -137px -129px; }